{{ 'reviews.css' | asset_url | stylesheet_tag }}
{{ 'review-modal.css' | asset_url | stylesheet_tag }}
<script src="{{'review-modal.js' |  asset_url}}" defer></script>

{% assign reviews = product.metafields.fld.reviews.value %}
{% assign number_of_reviews = reviews | size %}
{% assign heading = block.settings.heading %}
{% assign avg_rating = product.metafields.fld.avg_rating.value | round %}

{%- style -%}
  #shopify-block-{{ block.id }} {
    padding-top: {{ block.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ block.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    #shopify-block-{{ block.id }} {
      padding-top: {{ block.settings.padding_top }}px;
      padding-bottom: {{ block.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div id="fld-reviews" class="fld-reviews {% if block.settings.include_padding %}padded{% endif %}">
  <div class="d-flex align-items-center justify-content-between my-2 review-overview">
    {% render 'review-overview', product: product, heading: heading, avg_rating: avg_rating, number_of_reviews: number_of_reviews %}
  </div>
  <div class="review-wrapper">
    {% render 'reviews', reviews: reviews %}
  </div>
</div>

{% schema %}
  {
    "name": "Reviews",
    "target": "section",
    "settings": [
      { "type": "product", "id": "product", "label": "product", "autofill": true },
      {
        "type": "text",
        "id": "heading",
        "default": "Customer reviews",
        "label": "Heading"
      },
      {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 36
      }
    ]
  }
{% endschema %}

